body{
    font-family: 'Poppins', sans-serif;
    margin: 35px;
    padding: 20px;
}
.who-need{
    background-image:url(new1.png);
    background-repeat: no-repeat;
    background-position: center;
    color:antiquewhite;
    text-align: center;
    justify-content: center;
}
.who-need h1{
    font-size: 40px;
    color: chocolate;
}
.who-need p{
    color:bisque
}
.link-button{
    text-decoration: none;
    background-color: greenyellow;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: black;
}
.donation{
    text-align: center;
    margin-top: 50px;
    margin: 50px;
    padding: 30px;
}
.donation h1{
    font-size: 40px;
   
  
}
.help{
    width: 100%;
   display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 10px;
}
.help h1{
    font-size: 40px;
    margin: 20px;
    text-align: center;
    text-shadow: 10px 10px 30px rgb(2, 164, 2);
}
 .help #choice{
    color: red;
    background-color: bisque;
    border: 10px saddlebrown;
}
   
#text{
    border-width: 10px;
    margin-bottom: 10px;
}
.plan-discasion{
    text-align: center;
    background-color: antiquewhite;
}
.plan-discasion h1{
    font-size: 40px;

}
.plan-apply{
    width: 33.3% 33.3% 33.3%;
    display: flex;
    justify-content: center;
    margin: 10px ;
    padding: 10px;

}
.apply1{
    background-image: url(food.png);
    background-repeat: no-repeat;
   background-color: aqua;
   margin: 0px 15px ;
   padding-top: 30px;
   box-shadow: 10px 10px 30px rgb(97, 60, 11);
}
.apply2{
    background-image: url(shelter.png);
    background-repeat: no-repeat;
    background-color: blanchedalmond;
   
    background-position: top;
    margin: 0px 15px ;
    padding-top: 30px;
    box-shadow: 10px 10px 30px rgb(97, 60, 11) ;
}
.apply3{
    background-image: url(Frame-1.png);
    background-repeat: no-repeat;
    background-color:coral;
    margin: 0px 15px 0px 10px ;
    padding-top: 30px;
    box-shadow: 10px 10px 30px rgb(97, 60, 11) ;
}
.importan{
    width: 100%;
    height: 50%;
    display: flex;
    margin: 30px;

    margin-top: 70px;
   margin-right:   25px;
}
.your{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding-top: 30px;
    
}
.your h1{
    font-size: 30px; 
}
.your p{
    margin-bottom: 20px;
}
.importan img{
  padding-left: 20%;
  width: 170%;
 
    
}
.important1{
    width: 50% 50%;
    height: 30%;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.important1 img{
    width: 95%;
    
}
.important1 h1{
    font-size: 30px;
}
.important2{
    width: 50% 50%;
    height: 30%;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.important2 img{
    width: 90%;
    margin-left: 30px;
}
.important2 h1{
    font-size: 30px;
}
.Doctor{
    width: 85%;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.important3{
    text-align: center;
}
.important3 h1{
    font-size: 30px;
}
.input{
    margin: 30px;
    pad: 30px;
    background-color: burlywood;
    margin: 20px 20px 10px 20px ;
    padding: 30px 40px 30px 40px;
}
.email{
    background-color: cadetblue;
    margin-right: -2px;
}
.submit{
    background-color: chartreuse;
    margin-left: -6px;
    padding: 3px;
}
.Me{
    text-align: center;
    background-color: black;
    color: burlywood;
    padding: 30px;
}
.Me h1{

    font-family: Arial, Helvetica, sans-serif;
}


